*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.one{
    width:400px;
    height: 50px;
    margin: auto;
}
.two{
    width: 400px;
    height: 50px;
    margin: auto;
}
.box1{
    height: 50px;
    width: 50px;
    background-color: cornsilk;
    float: left;
    font-size: 40px;
    object-fit: cover;

}
.box2{
    height: 50px;
    width: 50px;
    background-color:brown;
    float: left;
    font-size: 40px;
    object-fit: cover;
}

